root = true

[*.cs]
# Meziantou
dotnet_diagnostic.MA0002.severity = none # I feel like using these comparisons don't add anything.
dotnet_diagnostic.MA0007.severity = none # I think trailing commas look dumb.
dotnet_diagnostic.MA0076.severity = none # Culture-sensitive strings aren't important for this project.

# Stylecop
dotnet_diagnostic.SA1000.severity = none # This conflicts with the target-type new statements.
dotnet_diagnostic.SA1009.severity = none # I like to have the closing bracket on a new line.
dotnet_diagnostic.SA1101.severity = none # Prefixing `this` before every local call looks weird to me.
dotnet_diagnostic.SA1111.severity = none # I like to have the closing bracket on a new line. 
dotnet_diagnostic.SA1124.severity = none # Regions have their use.
dotnet_diagnostic.SA1128.severity = none # : base() statements shouldn't need to be put on a new line.
dotnet_diagnostic.SA1200.severity = none # Moving `using` statements inside `namespace` blocks looks weird.  
dotnet_diagnostic.SA1309.severity = none # I like to have private fields prefixed with an underscore. 
dotnet_diagnostic.SA1313.severity = none # This requires parameters in records to start with lowercase, which looks weird and conflicts with the C# styleguide.
dotnet_diagnostic.SA1413.severity = none # I think trailing commas look dumb.
dotnet_diagnostic.SA1503.severity = none # No braces are fine for if() return.
dotnet_diagnostic.SA1633.severity = none # file headers are unnecessary. 
dotnet_diagnostic.SA1629.severity = none # periods look silly at the end of an URL.
dotnet_diagnostic.SA1206.severity = none # <accessor> required is the correct way to sort keywords, not required <accessor>

# Security Code Scan
dotnet_diagnostic.SCS0005.severity = none # Using weak rng doesn't seem like a big issue for this project. 

# Rules which can be disabled thanks to CSharpier
dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1118.severity = none
dotnet_diagnostic.SA1137.severity = none
dotnet_diagnostic.SA1500.severity = none
dotnet_diagnostic.SA1501.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1504.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1001.severity = none
dotnet_diagnostic.SA1002.severity = none
dotnet_diagnostic.SA1003.severity = none
dotnet_diagnostic.SA1007.severity = none
dotnet_diagnostic.SA1008.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1011.severity = none
dotnet_diagnostic.SA1012.severity = none
dotnet_diagnostic.SA1013.severity = none
dotnet_diagnostic.SA1014.severity = none
dotnet_diagnostic.SA1015.severity = none
dotnet_diagnostic.SA1016.severity = none
dotnet_diagnostic.SA1017.severity = none
dotnet_diagnostic.SA1018.severity = none
dotnet_diagnostic.SA1019.severity = none
dotnet_diagnostic.SA1020.severity = none
dotnet_diagnostic.SA1021.severity = none
dotnet_diagnostic.SA1022.severity = none
dotnet_diagnostic.SA1023.severity = none
dotnet_diagnostic.SA1024.severity = none
dotnet_diagnostic.SA1025.severity = none
dotnet_diagnostic.SA1026.severity = none
dotnet_diagnostic.SA1027.severity = none
dotnet_diagnostic.SA1028.severity = none
dotnet_diagnostic.SA1102.severity = none
dotnet_diagnostic.SA1103.severity = none
dotnet_diagnostic.SA1104.severity = none
dotnet_diagnostic.SA1105.severity = none
dotnet_diagnostic.SA1107.severity = none
dotnet_diagnostic.SA1110.severity = none
dotnet_diagnostic.SA1112.severity = none
dotnet_diagnostic.SA1113.severity = none
dotnet_diagnostic.SA1114.severity = none
dotnet_diagnostic.SA1115.severity = none
dotnet_diagnostic.SA1116.severity = none
dotnet_diagnostic.SA1117.severity = none
dotnet_diagnostic.SA1127.severity = none
dotnet_diagnostic.SA1128.severity = none
dotnet_diagnostic.SA1136.severity = none
dotnet_diagnostic.SA1505.severity = none
dotnet_diagnostic.SA1506.severity = none
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.SA1508.severity = none
dotnet_diagnostic.SA1509.severity = none
dotnet_diagnostic.SA1510.severity = none
dotnet_diagnostic.SA1511.severity = none
dotnet_diagnostic.SA1517.severity = none
dotnet_diagnostic.SA1518.severity = none

[**/Migrations/**.cs]
generated_code = true # Disable checks for migrations.