root = true

[*.cs]
# Meziantou
dotnet_diagnostic.MA0002.severity = none # I feel like this doesn't add anything.
dotnet_diagnostic.MA0007.severity = none # I think trailing commas look dumb.

# Stylecop
dotnet_diagnostic.SA1101.severity = none # Prefixing `this` before every local call looks weird to me. 
dotnet_diagnostic.SA1309.severity = none # I like to have private fields prefixed with an underscore. 
dotnet_diagnostic.SA1413.severity = none # I think trailing commas look dumb.
dotnet_diagnostic.SA1633.severity = none # file headers are unnecessary. 
